.about-us-header {
    display: flex;
    width: 100%;
    background-color: var(--main-bck-light, black);
    align-items: center;
}

.about-us-title {
    flex: 1;
    color: var(--main-text-col, white);
    transform: rotate(-90deg);
    text-shadow: 0 0 6px #000;
    text-align: center;
    font-size: 5rem;
    white-space: nowrap;
}

.about-us-description {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem 6rem;
    padding: 4rem 0;
    width: 92ch;
    line-height: 20px;
    letter-spacing: 0.2px;
    font-size: 1.2rem;
}