.about-us-description {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem 6rem;
    padding: 4rem 0;
    width: 92ch;
    line-height: 20px;
    letter-spacing: 0.2px;
    font-size: 1.2rem;
}