@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');

:root {
    --main-bck-col: rgb(114, 70, 70);
    --main-bck-dark: rgb(88, 54, 54);
    --main-bck-invalid: rgba(114, 70, 70, 0.807);
    --main-text-col: white;
    --complete-col: rgba(52, 161, 52, 0.905);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}